.features img {
  width: 35%;
  height: auto;
  transition: width 2s, height 4s;
}

.features img:hover {
  width: 45%;
  height: auto;
}

.features h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.features p {
  font-size: 15px;
  font-weight: lighter;
}

